@media only screen and (max-width: 768px) {
  .footer-Main {
    flex-direction: column;
  }
}
/*
@media only screen and (max-width:768px){
    footer{
        .contenedor{
            .footer-Main{
                flex-direction: column;
            }

        }

    }

}
@media screen and (max-width:768px){
    .footer-Main{
        flex-direction: column;
    }
}
*/
main {
  position: relative;
  top: 70px;
}
main .hero {
  display: flex;
  flex-flow: column wrap;
  background-image: linear-gradient(to top, rgba(33, 31, 31, 0.7), rgba(0, 0, 0, 0)), url(../assets/images/experiencia-comprimida.jpg);
  background-color: rgba(33, 31, 31, 0.5);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  color: #fbfbfb;
  height: 80vh;
  max-height: 700px;
  justify-content: end;
  padding: 16px;
  align-items: start;
}
main .hero .contenedorTexto {
  display: flex;
  width: 100%;
  flex-flow: column wrap;
}
main .botones {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 16px;
  align-items: center;
}

.presentation {
  flex-flow: row wrap;
  align-content: space-between;
}
.presentation div {
  flex-flow: column nowrap;
}
.presentation .heroPresentation {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
  padding-top: 200px;
}
.presentation .heroPresentation p {
  text-align: center;
}
.presentation .contenedorTexto {
  align-items: center;
  display: flex;
  width: 100%;
  flex-flow: column wrap;
  padding-bottom: 100px;
}
.presentation .contenedorTexto p {
  text-align: center;
}
.presentation .botones {
  display: flex;
  flex-direction: row;
  padding: 16px;
  gap: 16px;
  align-items: center;
}

/*  .projects{
      @extend %section;
      flex-flow: row wrap;
      @extend %sticky;
      h2{
          @extend %estiloH3;
          padding-top: 40px;

      }
      .carrouselContainer{
          height: 100%;
          width: 100%;
      }


      }*/
.team {
  flex-flow: column nowrap;
}
.team .headerContainer {
  max-width: 1200px;
  margin: auto auto;
}
.team .content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  gap: 16px;
  justify-content: flex-end;
  align-items: flex-end;
}
.team .content .texto {
  flex-basis: 22rem;
}
.team .content .texto p {
  font-size: 1.25rem;
}
.team .content .imageContainer {
  flex-basis: 50%;
  flex-shrink: 1;
  flex-grow: 1;
}
.team .content .imageContainer img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  border-radius: 12px;
  max-height: 400px;
}

.productos {
  display: flex;
  flex-flow: column nowrap;
  overflow-y: scroll;
}
.productos .container {
  max-width: 1200px;
  margin: auto auto;
}
.productos .headerContainer {
  display: flex;
  flex-flow: column nowrap;
}
.productos .contentContainer {
  display: flex;
  flex-flow: column nowrap;
  max-width: 1200px;
  margin: 0 0;
  align-items: center;
  gap: 40px;
}
.productos .contentContainer .imagenes {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  justify-content: center;
}
.productos .contentContainer .imagenes article {
  display: flex;
  flex-direction: column;
  flex-basis: 200px;
  align-items: center;
}
.productos .contentContainer .imagenes article .fa-solid {
  font-size: 100px;
}
.productos .contentContainer .textContainer p {
  text-align: center;
}

.proyectos {
  background-color: #fbfbfb;
  padding: 16px;
  width: 100%;
}
.proyectos .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-flow: column nowrap;
  gap: 32px;
}
.proyectos .carousel-inner {
  border-radius: 12px;
  height: 500px;
  background-color: #211F1F;
}
.proyectos .carousel-inner .carousel-item {
  height: 500px;
  background-color: #211F1F;
}
.proyectos .carousel-inner .carousel-item img {
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.proyectos .boton {
  text-align: center;
}

/*
  .planes{
      flex-flow: column nowrap;
      @extend %section;
      @extend %sticky;

      .container{
          max-width: 1200px;
          margin: auto auto;
          .cards{
              display: flex;
              flex-flow: row wrap;
              justify-content: space-around;
              article{
                  width: 18rem;
                  padding: 8px;
                  img{
                      object-fit: contain;
                      border-radius: 12px;
                  }
                  .cardBody{
                      display: flex;
                      flex-flow: column wrap;
                  }
              }
          }
          .boton{
              display: flex;
              align-items: center;
              justify-content: center;
          }

      }
      div{
          width: 100%;
      }

  } */
.planesProductos {
  flex-flow: column nowrap;
  position: relative;
}
.planesProductos .containerPlanes {
  max-width: 1200px;
  margin: auto auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
}
.planesProductos .containerPlanes .cardsPlanes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 16px;
}
.planesProductos .containerPlanes .cardsPlanes .detallePlan {
  width: 20rem;
  padding: 8px;
  border: solid #5F5F5F 1px;
  border-radius: 12px;
}
.planesProductos .containerPlanes .cardsPlanes .detallePlan .cardImageP {
  font-size: 100px;
  text-align: center;
}
.planesProductos .containerPlanes .cardsPlanes .detallePlan .cardImageP img {
  object-fit: contain;
  border-radius: 12px;
}
.planesProductos .containerPlanes .cardsPlanes .detallePlan .cardBody {
  display: flex;
  flex-flow: column wrap;
}
.planesProductos .containerPlanes .cardsPlanes .detallePlan .cardBody .tituloCard {
  text-align: center;
}
.planesProductos .containerPlanes .cardsPlanes .detallePlan .cardBody strong {
  text-align: end;
}
.planesProductos .containerPlanes .boton {
  display: flex;
  align-items: center;
  justify-content: center;
}
.planesProductos div {
  width: 100%;
}

.contact {
  flex-flow: column nowrap;
}
.contact .container {
  max-width: 1200px;
  margin: auto auto;
}
.contact .container .headerContainer {
  text-align: start;
  width: 100%;
}
.contact .container .bodyContainer {
  display: flex;
  flex-flow: row wrap;
  padding-top: 16px;
  column-gap: 24px;
  row-gap: 16px;
}
.contact .container .bodyContainer .text {
  flex-basis: 15rem;
  text-align: start;
}
.contact .container .bodyContainer .form {
  width: 60%;
  flex-grow: 1;
  max-width: 40rem;
}
.contact .container .bodyContainer .form .boton {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*    footer{
        background-color: $color-gris-primario;
        color: $color-gris-clarito;
        padding: 4rem 1rem;
        position: relative;

        a{
            color: $color-gris-clarito;
            text-decoration: none;
            transition: color 0.3s;

            &:hover{
                color: $color-gris-secundario;
                }
        }
        .contenedor{
            max-width: 1200px;
            margin: 0 auto;
            .footer-Main{
                display: flex;
                flex-direction: row;
                margin-bottom: 0;
                .columns{
                    flex-basis: 200px;
                    flex-grow: 1;
                    text-align: center;
                    .columnHeading{
                        margin-bottom: 1rem;
                    }
                    .links{
                        display: block;
                        width: max-content;
                        padding: 5px 10px;
                        margin: 0 auto;
                    }
                }
            }
            .footerBottom{
                display: flex;
                .copyright{
                    margin-right: auto;
                }
                .footerSocial{
                    font-size: 20px;
                    margin-left: 2rem;
                }
            }
        }
    }

*/
main {
  position: relative;
  top: 70px;
}
main .heroNosotros {
  background-image: linear-gradient(to top, rgba(33, 31, 31, 0.7), rgba(0, 0, 0, 0)), url(../assets/images/equipo-creativo.jpg);
  background-color: rgba(33, 31, 31, 0.5);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  color: #fbfbfb;
  height: 80vh;
  max-height: 700px;
  justify-content: end;
  padding: 16px;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
main .heroNosotros .contenedor {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  flex-flow: column wrap;
  position: relative;
  overflow-y: scroll;
}
main .Equipo {
  width: 100%;
}
main .Equipo .contenedorTestimonials {
  max-width: 1200px;
  margin: auto auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}
main .Equipo .contenedorTestimonials .testimonial-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
main .Equipo .contenedorTestimonials .testimonial-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box {
  width: 350px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb;
  padding: 20px;
  margin: 15;
  outline: solid 2px #211F1F;
  border-radius: 12px;
  cursor: pointer;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box:hover {
  transform: scale(1.05);
  transition: all ease 0.9s;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .profile-img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .user-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .user-name strong {
  color: #211F1F;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .user-name span {
  color: #5F5F5F;
  font-size: 0.8rem;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .reviews i {
  color: #211F1F;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box .member-comment {
  text-align: center;
}
main .Equipo .contenedorTestimonials .testimonial-box-container .testimonial-box .member-comment p {
  text-align: center;
}

main {
  position: relative;
  top: 70px;
}
main .heroProductos {
  background-image: linear-gradient(to top, rgba(33, 31, 31, 0.7), rgba(0, 0, 0, 0)), url(../assets/images/encuentro.jpg);
  background-color: rgba(33, 31, 31, 0.5);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  color: #fbfbfb;
  height: 80vh;
  max-height: 700px;
  justify-content: end;
  padding: 16px;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
main .heroProductos .contenedor {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  flex-flow: column wrap;
}
main .productos {
  width: 100%;
  position: relative;
}
main .productos .container {
  max-width: 1200px;
  margin: auto auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}
main .productos .container .contenido {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
}
main .productos .container .contenido .cardProducto {
  border-radius: 12px;
  padding: 16px;
  outline: 2px solid #211F1F;
  max-width: 400px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb;
  padding: 20px;
  margin: 15;
  border-radius: 12px;
  cursor: pointer;
}
main .planesProductos {
  flex-flow: column nowrap;
  position: relative;
}
main .planesProductos .containerPlanes {
  max-width: 1200px;
  margin: auto auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 32px;
}
main .planesProductos .containerPlanes .cardsPlanes {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  gap: 16px;
}
main .planesProductos .containerPlanes .cardsPlanes .detallePlan {
  width: 20rem;
  padding: 8px;
  border: solid #5F5F5F 1px;
  border-radius: 12px;
}
main .planesProductos .containerPlanes .cardsPlanes .detallePlan .cardImageP {
  font-size: 100px;
  text-align: center;
}
main .planesProductos .containerPlanes .cardsPlanes .detallePlan .cardImageP img {
  object-fit: contain;
  border-radius: 12px;
}
main .planesProductos .containerPlanes .cardsPlanes .detallePlan .cardBody {
  display: flex;
  flex-flow: column wrap;
}
main .planesProductos .containerPlanes .cardsPlanes .detallePlan .cardBody .tituloCard {
  text-align: center;
}
main .planesProductos .containerPlanes .cardsPlanes .detallePlan .cardBody strong {
  text-align: end;
}
main .planesProductos .containerPlanes .boton {
  display: flex;
  align-items: center;
  justify-content: center;
}
main .planesProductos div {
  width: 100%;
}
main .contacto {
  position: relative;
}

main {
  position: relative;
  top: 70px;
}
main .heroProyectos {
  background-image: linear-gradient(to top, rgba(33, 31, 31, 0.7), rgba(0, 0, 0, 0)), url(../assets/images/proyectos.jpg);
  background-color: rgba(33, 31, 31, 0.5);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  color: #fbfbfb;
  height: 80vh;
  max-height: 700px;
  justify-content: end;
  padding: 16px;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
main .heroProyectos .contenedor {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  flex-flow: column wrap;
}
main .proyectosCarrousel {
  background-color: #fbfbfb;
  padding: 16px;
  width: 100%;
}
main .proyectosCarrousel .containerCarrousel {
  max-width: 1200px;
  margin: 0 auto;
}
main .proyectosCarrousel .carousel-inner {
  border-radius: 12px;
  height: 500px;
  background-color: #211F1F;
}
main .proyectosCarrousel .carousel-inner .carousel-item {
  height: 500px;
}
main .proyectosCarrousel .carousel-inner .carousel-item .carousel-caption {
  background-color: #211F1F 0, 3;
}
main .proyectosCarrousel .carousel-inner .carousel-item img {
  height: 100%;
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
  background-image: linear-gradient(to top, rgba(33, 31, 31, 0.7), rgba(0, 0, 0, 0));
}
main .proyectosCarrousel .boton {
  text-align: center;
}

main {
  position: relative;
  top: 70px;
}
main .heroContacto {
  background-image: linear-gradient(to top, rgba(33, 31, 31, 0.7), rgba(0, 0, 0, 0)), url(../assets/images/contacto.jpg);
  background-color: rgba(33, 31, 31, 0.5);
  background-size: cover;
  background-position: center center;
  background-blend-mode: multiply;
  color: #fbfbfb;
  height: 80vh;
  max-height: 700px;
  justify-content: end;
  padding: 16px;
  align-items: start;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
main .heroContacto .contenedor {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
  flex-flow: column wrap;
}
main .testimonials {
  width: 100%;
}
main .testimonials .contenedorTestimonials {
  max-width: 1200px;
  margin: auto auto;
  display: flex;
  flex-flow: column nowrap;
  gap: 40px;
}
main .testimonials .contenedorTestimonials .testimonial-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0px;
}
main .testimonials .contenedorTestimonials .testimonial-box-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 16px;
}
main .testimonials .contenedorTestimonials .testimonial-box-container .testimonial-box {
  width: 500px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #fbfbfb;
  padding: 20px;
  margin: 15;
  outline: solid 2px #211F1F;
  border-radius: 12px;
  cursor: pointer;
}
main .testimonials .contenedorTestimonials .testimonial-box-container .testimonial-box:hover {
  transform: scale(1.05);
  transition: all ease 0.9s;
}
main .testimonials .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
main .testimonials .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile {
  display: flex;
  align-items: center;
}
main .testimonials .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
main .testimonials .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
main .testimonials .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .user-name {
  display: flex;
  flex-direction: column;
}
main .testimonials .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .user-name strong {
  color: #211F1F;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}
main .testimonials .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .user-name span {
  color: #5F5F5F;
  font-size: 0.8rem;
}
main .testimonials .contenedorTestimonials .testimonial-box-container .testimonial-box .box-top .profile .reviews i {
  color: #211F1F;
}
main .contact {
  width: 100%;
}
main .contact .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
}
main .contact .container .headerContainer {
  text-align: start;
  width: 100%;
}
main .contact .container .bodyContainer {
  display: flex;
  flex-flow: row wrap;
  padding-top: 16px;
  column-gap: 24px;
  row-gap: 16px;
  justify-content: space-between;
}
main .contact .container .bodyContainer .text {
  flex-basis: 15rem;
  text-align: start;
}
main .contact .container .bodyContainer .form {
  width: 60%;
  flex-grow: 1;
  max-width: 40rem;
  display: flex;
  flex-flow: column nowrap;
}
main .contact .container .bodyContainer .form .formularioContacto {
  display: flex;
  flex-flow: column nowrap;
  gap: 16px;
}
main .contact .container .bodyContainer .form .form-control {
  outline: solid 1px #211F1F;
}
main .contact .container .bodyContainer .form .input-group-text {
  outline: solid 1px #211F1F;
}
main .contact .container .bodyContainer .form .boton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.presentation, .team, .productos, .proyectos, .planesProductos, .contact, main .Equipo, main .productos, main .planesProductos, main .contacto, main .proyectosCarrousel, main .testimonials, main .contact {
  background-color: #fbfbfb;
  color: #211F1F;
  padding: 4rem 1rem;
  row-gap: 16px;
  column-gap: 16px;
  width: 100%;
  min-height: 800px;
}

.presentation div {
  background-color: #fbfbfb;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
}

main .hero, .presentation, .team, .productos, .proyectos, .contact, main .proyectosCarrousel, main .heroContacto, main .testimonials, main .contact {
  position: sticky;
  top: 70px;
}

main .hero .contenedorTexto .titulo, .presentation .heroPresentation p, main .heroNosotros .contenedor .titulo, main .heroProductos .contenedor .titulo, main .heroProyectos .contenedor .titulo, main .heroContacto .contenedor .titulo {
  font-size: clamp(2rem, 7vw + 1rem, 4rem);
  font-family: "Inter", sans-serif;
  font-weight: 200;
}

.team .headerContainer h2, .productos .headerContainer h2, main .productos .container .heading .titulo {
  font-size: 2rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.productos .contentContainer .imagenes article p, .planesProductos .containerPlanes .cardsPlanes .detallePlan .cardBody .tituloCard, main .planesProductos .containerPlanes .cardsPlanes .detallePlan .cardBody .tituloCard {
  font-size: 1.25rem;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}

.presentation .contenedorTexto p, .team .headerContainer p, main .heroNosotros .contenedor p, main .heroProductos .contenedor p, main .productos .container .heading p, main .heroProyectos .contenedor p, main .heroContacto .contenedor p {
  font-size: 1.25rem;
}

main .productos .container .heading .heading1 {
  font-size: 1rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

.hidden {
  display: none;
}

.sectioAbsolute {
  position: absolute;
  z-index: 1;
  top: 0;
}

body {
  background-color: #fbfbfb;
  color: #211F1F;
  font-family: "Roboto Mono", monospace;
  position: relative;
  scroll-behavior: smooth;
}
body .header {
  width: 100vw;
  background-color: #fbfbfb;
  position: fixed;
  top: 0;
  z-index: 1;
}
body nav {
  text-transform: uppercase;
}
body nav .brand {
  display: flex;
  gap: 4px;
  align-items: flex-end;
}
body nav .brand h1 {
  font-size: 1.25rem;
  font-family: "Inter", sans-serif;
  font-weight: 100;
  text-transform: lowercase;
  color: #211F1F;
}
body nav .brand .navbar-toggler {
  border: none;
}
body nav .nav-link {
  text-decoration: underline transparent;
  transition: text-decoration step-start 2s, opacity var(--animation-link);
}
body nav .nav-link:hover {
  text-decoration: underline;
  opacity: 1;
}

/*.estiloBody2{
   font-size: $font-size-500 ;

}*/
.boton1 {
  width: auto;
  min-height: 48px;
  height: fit-content;
  border-radius: 12px;
  padding: 12px;
  background-color: #fbfbfb;
  transition: color 2s;
}
.boton1 a {
  color: #211F1F;
  text-decoration: none;
}
.boton1:hover {
  background-color: #211F1F;
  outline: solid 2px #fbfbfb;
}
.boton1:hover a {
  color: #fbfbfb;
  text-decoration: none;
}

.boton2 {
  width: auto;
  height: 48px;
  border-radius: 12px;
  padding: 12px;
  background-color: transparent;
  transition: color ease-in 2s;
  color: #fbfbfb;
}
.boton2 a {
  color: #fbfbfb;
  text-decoration: none;
}
.boton2:hover {
  background-color: #211F1F;
  outline: solid 2px #fbfbfb;
}
.boton2:hover a {
  color: #fbfbfb;
  text-decoration: none;
}

.boton3 {
  width: auto;
  height: 48px;
  border-radius: 12px;
  padding: 12px;
  background-color: #211F1F;
  transition: outline 2s ease, background-color 0, 1s ease;
  color: #fbfbfb;
}
.boton3 a {
  color: #fbfbfb;
  text-decoration: none;
  outline: solid 2px transparent;
}
.boton3:hover {
  background-color: transparent;
  outline: solid 2px #211F1F;
  color: #211F1F;
}
.boton3:hover a {
  color: #211F1F;
  text-decoration: none;
}

footer {
  background-color: #211F1F;
  color: #fbfbfb;
  padding: 4rem 1rem;
  position: relative;
}
footer a {
  color: #fbfbfb;
  text-decoration: none;
  transition: color 0.3s;
}
footer a:hover {
  color: #5F5F5F;
}
footer .contenedor {
  max-width: 1200px;
  margin: 0 auto;
  gap: 40px;
}
footer .contenedor .footer-Main {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 8px;
}
footer .contenedor .footer-Main .columns {
  flex-basis: 200px;
  flex-grow: 1;
  text-align: center;
  padding: 0 16px;
}
footer .contenedor .footer-Main .columns .columnHeading {
  margin-bottom: 1rem;
}
footer .contenedor .footer-Main .columns .links {
  display: block;
  width: max-content;
  padding: 5px 10px;
  margin: 0 auto;
}
footer .contenedor .footerBottom {
  display: flex;
  margin-top: 40px;
}
footer .contenedor .footerBottom .copyright {
  margin-right: auto;
}
footer .contenedor .footerBottom .footerSocial {
  font-size: 20px;
  margin-left: 2rem;
}

/*


.navbar-toggler {
    border: none;
}
.presentacion{
    height: auto;
}
.nosotros{
    height: 80vh;
}
.productos{
    height: auto;
}

.card{
    width: 18rem;
}

.proyectos{
    height: auto;
}

.planes{
    height: auto;
}
.h2{
    text-transform: uppercase;
    font-size: 1rem;
}
.imgProductos{
    height: 20vh;
}
.linkEncubierto{
    text-decoration: none;

}

.heroImgProductos{
    height: 40vh;

}
.nav-item{
    &hover{
        text-decoration: underline;
    }
}
*/

/*# sourceMappingURL=styles.css.map */
