%section{
    background-color: $color-gris-clarito;
    color: $color-gris-primario;
    padding: 4rem 1rem;
    row-gap: 16px;
    column-gap: 16px;
    width: 100%;
    min-height: 800px;
    
}
%sectionInside{
    background-color: $color-gris-clarito;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    
}



%sticky{
    position: sticky;
    top: 70px;
    
}

%estiloH2{
    font-size: $font-size-xl;
    font-family: $fuente-titulos;
    font-weight: 200; 
}
%estiloH3{
    font-size: $font-size-600;
    font-family: $fuente-textos;
    font-weight: 500; 
}
%estiloH4{
    font-size: $font-size-500;
    font-family: $fuente-textos;
    font-weight: 500; 
}


%estiloBody2{
    font-size: $font-size-500 ;
}

%estiloH2bootstrap{
    font-size: calc(1.325rem + .9vw);
    font-family: $fuente-textos;
    font-weight: 500;
}

%estiloP{
    font-size: $font-size-400 ;
}