main{
    position: relative;
    top: 70px;

    .heroNosotros{
        background-image: linear-gradient(to top, rgb(33 31 31 /70%),rgb(0 0 0/ 0%)), url(../assets/images/equipo-creativo.jpg) ;
        background-color: rgb(33 31 31 /50%);    
        background-size: cover;
        background-position: center center ;
        background-blend-mode:multiply;
        color:$color-gris-clarito;
        height: 80vh;
        max-height: 700px;
        justify-content: end;
        padding: 16px;
        align-items:start;
        
        display: flex;
        flex-direction: column;
        justify-content: end;

        .contenedor{
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            flex-flow: column wrap;
            position: relative;
            overflow-y: scroll;
        
            .titulo{
                @extend %estiloH2;
            }
            p{
                @extend %estiloBody2;
            }
        }


    }
    .Equipo{
        width: 100%;
        @extend %section;
        

        .contenedorTestimonials{
            max-width: 1200px;
            margin: auto auto;
            display: flex;
            flex-flow: column nowrap;
            gap: 40px;
            .testimonial-heading{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 30px 0px;
            }
            .testimonial-box-container{
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-wrap: wrap;
                width: 100%;
                gap: 16px;
                .testimonial-box{
                    width: 350px;
                    box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
                    background-color: $color-gris-clarito;
                    padding: 20px;
                    margin: 15;
                    outline: solid 2px $color-gris-primario;
                    border-radius: 12px;
                    cursor: pointer;
        
                    &:hover{
                        transform: scale(1.05);
                        transition: all ease 0.9s;
                    }
                    .box-top{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 20px;
        
                        .profile{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            .profile-img{
                                width: 150px;
                                height: 150px;
                                border-radius: 50%;
                                overflow: hidden;
                                margin-right: 10px;
                                img{
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    object-position: center;
                                }
                            }
                            .user-name{
                                display: flex;
                                flex-direction: column ;
                                align-items: center;
                                strong{
                                    color: $color-gris-primario;
                                    font-size: 1.1rem;
                                    letter-spacing: 0.5px;
                                }
                                span{
                                    color: $color-gris-secundario;
                                    font-size: 0.8rem;
        
                                }
                            }
                           .reviews{
                                i{
                                color: $color-gris-primario;
                                }
        
                            }
        
                        }
                    }
                    .member-comment{
                        text-align: center;
                       
                        p{
                            text-align: center;
                        }
                    }

                }    
            }



        }
    }
    
}