#mainNosotros{
    position: relative;
    top: 0px;

    #heroNosotros{
        background-image: linear-gradient(to top, rgb(33 31 31 /70%),rgb(0 0 0/ 0%)), url(../assets/images/equipo-creativo.jpg) ;
        background-color: rgb(33 31 31 /50%);    
        background-size: cover;
        background-position: center center ;
        background-blend-mode:multiply;
        color:$color-gris-clarito;
        height: 100vh;
        max-height: 900px;
        justify-content: end;
        padding: 16px;
        align-items:start;
        position: relative;
        
        display: flex;
        flex-direction: column;
        justify-content: end;

        .heroNosotros__contenedor{
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            flex-flow: column wrap;
            position: relative;
            overflow-y: scroll;
        
            .heading{
                @extend %estiloH2;
            }
            
        }
    }


    #teamNosotros{
        width: 100%;
        @extend %section;
        background-color: $color-gris-clarito;
        height: fit-content;
        
        
        .teamNosotros__container{
            background-color: $color-gris-primario;
            max-width: 1200px;
            width: 100%;
            margin: auto auto;
            display: flex;
            flex-flow: column nowrap;
            gap: 40px;
            justify-content: flex-start;
            padding: 2rem 1rem 10rem 1rem;
            min-height: fit-content;
            border-radius: 20px;

            .teamNosotros__container--header{
                color: $color-gris-clarito;

            }
            .teamNosotros__container--body{
                display: flex;
                flex-flow: row wrap;
                gap: 32px;
                justify-content: center;
                .memberCard{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 250px;
                    height: 300px;
                    color: $color-azul-clarito;
                    margin-bottom: 6rem;
    
                    transition: all 0.3s ease-in;
    
                    .image{
                        margin-bottom: -40px;
                        width: 250px;
                        height: 300px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
    
                        }
    
                    }
                    .info{
                        @extend %glassEffect--blue;
                        border-radius: 25px;
                        width: 90%;
                        padding: 8px;
                        display: flex;
                        flex-flow: column nowrap;
                        align-items: center;
    
                        
                        
    
                        .info--header{
                            display: flex;
                            flex-flow: column nowrap;
                            gap: 8px;
                            
                            .card--title{
                                @extend %estiloH4;
                                text-align: center;
                            }
    
                            .card--rrss{
                                display: flex;
                                padding: 8px 8px;
                                justify-content: center;
                                background-color: $color-gris-clarito;
                                color: $color-azul;
                                border-radius: 20px;
                            }
    
                        }
                       
                        .info--body{
                            display: flex;
                            height: 0px;
                            overflow: hidden;
                            p{
                                text-align: center;
                            }   
                        }
    
                    }
                    &:hover{
                        transform: scale(1.01);
                        .info{
                            width: 110%;
                        }
                        .info--body{
                            height: fit-content;
                        }
                        
                    }
                    
                }

            }

        } 
    }
     
    .contact{
        @extend %section;
        width:100%;
        background-color: $color-gris-clarito;
        
        .container{
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-flow: column nowrap;
            .headerContainer{
                text-align: start;
                width: 100%;
            }
            .bodyContainer{
                display: flex;
                flex-flow: row wrap;
                padding-top: 16px;
                column-gap: 24px;
                row-gap: 16px;
                justify-content: space-between;
                .text{
                    flex-basis: 15rem;
                    text-align: start;
                }
                .form{
                    width: 60%;
                    flex-grow: 1;
                    max-width: 40rem;
                    display: flex;
                    flex-flow: column nowrap;
                    .formularioContacto{
                        display: flex;
                        flex-flow: column nowrap;
                        gap:16px;
                    }
                   
                    .form-control{
                        outline: solid 1px $color-gris-primario;
                    }
                    .input-group-text{
                        outline: solid 1px $color-gris-primario;
                    }
                    .boton{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        .boton3{
                            @extend%linkStyle;
                            @extend%button--outlined--black;
                        }
                    }
                }
            }
        }
    }   
}