#mainProducts{
    position: relative;
    top: 0px;

    #heroProductos{
        background-image: linear-gradient(to top, rgb(33 31 31 /70%),rgb(0 0 0/ 0%)), url(../assets/images/encuentro.jpg) ;
        background-color: rgb(33 31 31 /50%);    
        background-size: cover;
        background-position: center center ;
        background-blend-mode:multiply;
        color:$color-gris-clarito;
        height: 80vh;
        max-height: 700px;
        justify-content: end;
        padding: 16px;
        align-items:start;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .contenedor{
            display: flex;
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            flex-flow: column wrap;
            .titulo{
                @extend %estiloH2;
            }
            p{
                @extend %estiloBody2;
            }
        }
    }
    #webSitesProducts{
         width: 100%;
         @extend %section;
         
         .webSitesProducts__container{
            max-width: 1200px;
            margin: 0 auto;
            display: flex;
            flex-flow: column nowrap;
            gap: 40px;

            .heading{
                .heading1{
                    @extend%pStyle;
                }
                .titulo{
                    @extend %estiloH3;
                }
                p{
                    @extend %estiloBody2;
                }
            }
            .contenido{
                display: flex;
                flex-flow: row wrap;
                align-items: flex-start;
                justify-content: center;
                gap: 20px;

                .video{
                    max-width: 550px;
                    height: 400px;
                    overflow: hidden;
                    video{
                        height: 100%;
                    }
                }
                .info{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                    flex-basis: 590px;
                    flex-shrink: 1;
                    .cardProducto{
                        display: flex;
                        flex-flow: column;
                        outline: 2px solid $color-azul-clarito;
                        max-width: auto;
                        height: 200px;
                        box-shadow: 2px 2px 30px rgba(0,0,0,0.1);
                        background-color: $color-azul-clarito;
                        padding: 20px;
                        
                        
                        border-radius: 12px;
                        cursor: pointer;
                    }

                }

                
            }
         }                 
    }
    .planesProductos{
        flex-flow: column nowrap;
        @extend %section;
        position: relative;
        background-color: $color-gris-primario;
        color: $color-gris-clarito;
        
        .containerPlanes{
            max-width: 1200px;
            margin: auto auto;
            display: flex;
            flex-flow: column nowrap;
            gap: 32px;

            .cardsPlanes{
                display: flex;
                flex-flow: row wrap;
                justify-content: space-around;
                gap: 16px;
                

                .detallePlan{
                    width: 22rem;
                    padding: 1rem;
                    border-radius: 12px;
                    @extend%glassEffect--blue;
                    .plan--img{
                        text-align: center;
                        .material-symbols-rounded{
                            font-size: 90px;
                            font-weight: 200;
                            
                        } 
                    }
                    
                    .cardBody{
                        display: flex;
                        flex-flow: column wrap;
                        align-items: center;
                        .tituloCard{
                            @extend%estiloH4;
                            text-align: center;
                        }
                        .plan--price{
                            display: flex;
                            padding: 8px 16px;
                            width: fit-content;
                            
                            gap: 8px;
                            background-color: $color-azul;
                            color: $color-gris-clarito;
                            border-radius: 20px;

                            
                        }
                        
                        
                    }
                }
            }
            .button{
                display: flex;
                align-items: center;
                justify-content: center;
        
                .button--3{
                    @extend%linkStyle;
                    @extend%button--underlined--white;
                }
            }
        }
        div{
            width: 100%;
        }
        
    }
     .contacto{
        @extend%section;
        position: relative;
     }

}