
$fuente-textos: "Roboto Mono", monospace ;
$fuente-titulos: "Inter", sans-serif ;
$color-gris-primario: #211F1F;
$color-gris-secundario: #5F5F5F;
$color-gris-clarito: #fbfbfb;



$font-size-400 : 1rem;
$font-size-500 : 1.25rem;
$font-size-600 : 2rem;
$font-size-xl : clamp(2rem, 7vw + 1rem, 4rem);


$animation-link: 0.735s ease;




