@import"variables";
@import"index";
@import"nosotros";
@import"productos";
@import"proyectos";
@import"contacto";
@import"extend";
@import"media";

*,
*::before,
*::after{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    border: 0;
    
}
.hidden{
    display: none;
}

body{
    background-color: $color-gris-clarito;
    color: $color-gris-primario;
    font-family: $fuente-textos;
    position: relative;
    scroll-behavior: smooth;
    width: 100%;
    @extend%pStyle;
    

    
    .header{
        width: 98%;
        background-color: transparent;
        backdrop-filter: blur(40px);
        -webkit-backdrop-filter: blur(40px);
        position: fixed;
        top: 0;
        z-index: 1;
        border-radius: 12px;
        mix-blend-mode: difference;
        margin: 8px 4px;

        
        .navbar{
            color: $color-gris-clarito;
            
            .brand{
                img{
                    max-height: 48px;
                }
            }
            .navbar-toggler{
                border: none;
                
            }
            .navbar-nav{
                margin-left: auto;
            }
            .nav-item{
                padding: 0 1rem;
            }
            .nav-link{
                text-decoration: none;
                transition: text-decoration ease-in 2s ;
                color: $color-gris-clarito;
                @extend%linkStyle;
                position: relative;

                

                &:after{
                    content: "";
                    position: absolute;
                    width: 0%;
                    height: 3px;
                    background-color: $color-gris-clarito;
                    left: 0;
                    bottom: 0px;
                    transition: transform linear .2s;
                    transform: scaleX(0);
                }
                &:hover{
                    color: #ffff;
                }

                &:hover:after{
                    width: 100%;
                    transform: scaleX(1);
                    
                }
            }
            .active{
                color: $color-gris-clarito !important;
                font-weight: bold;
                &:hover{
                    color: $color-gris-secundario !important;
                    }  
            }
        }
    }
        
        
        


@keyframes touch{
    0%{
        opacity:0.5;
        transform: scale(1);
    }
    50%{
        opacity: 0.5;
        transform: scale(1);
    }
    100%{
        opacity:0;
        transform: scale(0.99);
    }
}

@keyframes show {
    from{
        opacity:0;
        scale: 50%;
    }
    to{
        opacity: 1;
        scale: 100%;
    }
}

@keyframes floating{
    0%{
        transform: scale(1);
    }
    25%{
        transform: scale(1.001)
    }
    50%{
        transform: scale(1)
    }
    100%{
        transform: sacale(1.01);
    }
}

@keyframes scrollleft {
    to{
        left: -500px;
    }
}
@keyframes scrollright {
    to{
        right: -300px;
    }
}
@keyframes scrollup {
    to{
        top: -100px;
    }
}








/*.estiloBody2{
   font-size: $font-size-500 ;

}
.button--1{
    width: auto;
    min-height: 48px;
    height: fit-content;
    border-radius: 12px;
    padding: 12px;
    background-color: $color-gris-clarito;
    transition: color 2s;

    a{
        color: $color-gris-primario;
        text-decoration: none;
    }
    &:hover{
        background-color: $color-gris-primario;
        outline: solid 2px $color-gris-clarito;
        a{
            color: $color-gris-clarito;
            text-decoration: none;
        }
    }
}
.button-2{
    width: auto;
    height: 48px;
    border-radius: 12px;
    padding: 12px;
    background-color: transparent;
    transition: color ease-in 2s;
    color: $color-gris-clarito;
    a{
        color: $color-gris-clarito;
        text-decoration: none;
        
    }
    &:hover{
        background-color: $color-gris-primario;
        outline: solid 2px $color-gris-clarito;
        a{
            color: $color-gris-clarito;
            text-decoration: none;
        }
    }
}
.boton3{
    width: auto;
    height: 48px;
    border-radius: 12px;
    padding: 12px;
    background-color: $color-gris-primario;
    transition: outline 2s ease, background-color 0,1s ease;
    color: $color-gris-clarito;

    a{
        color: $color-gris-clarito;
        text-decoration: none;
        outline:solid 2px transparent;
        
        
    }
    &:hover{
        background-color: transparent;
        outline: solid 2px $color-gris-primario;
        color: $color-gris-primario;
        a{
            color: $color-gris-primario;
            text-decoration: none;
            
        }
    }

}*/
footer{
    background-color: $color-gris-primario;
    color: $color-gris-clarito;
    padding: 4rem 1rem;
    position: relative;

    a{
        color: $color-gris-clarito;
        text-decoration: none;
        transition: color 0.3s;

        &:hover{
            color: $color-gris-secundario;
            }
    }
    .contenedor{
        max-width: 1200px;
        margin: 0 auto;
        gap: 40px;
        .footer-Main{
            display: flex;
            flex-direction: row;
            margin-bottom: 0;
            flex-wrap: wrap;
            row-gap: 40px;
            column-gap: 8px;
            .columns{
                flex-basis: 200px;
                flex-grow: 1;
                text-align:center ;
                padding: 0 16px;
                
                .columnHeading{
                    margin-bottom: 1rem;
                }
                .links{
                    display: block;
                    width: max-content;
                    padding: 5px 10px;
                    margin: 0 auto;
                }
                form{
                    display: flex;
                    flex-direction: column;
                    gap: 1rem;
                }
                
                .boton{
                    button{
                        @extend%button--outlined--white;
                    }
                    
                }
            }
            
        }
        .footerBottom{
            display: flex;
            margin: 2rem auto 0rem auto;
            max-width: 900px;

            .copyright{
                margin-right: auto;
            }
            .footerSocial{
                font-size: 20px;
                margin-left: 2rem;
            }
        }
    }
}




}