@import"variables";
@import"media";
@import"index";
@import"nosotros";
@import"productos";
@import"proyectos";
@import"contacto";
@import"extend";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    
}
.hidden{
    display: none;
}

.sectioAbsolute{
    position: absolute;
    z-index: 1;
    top:0;
}
body{
    background-color: $color-gris-clarito;
    color: $color-gris-primario;
    font-family: $fuente-textos;
    position: relative;
    scroll-behavior: smooth;
    
    .header{
        width: 100vw;
        background-color: $color-gris-clarito;
        position: fixed;
        top: 0;
        z-index: 1;
    }
    nav{
        .brand{
            display: flex;
            gap: 4px;
            align-items: flex-end;
            h1{
            font-size: $font-size-500;
            font-family: $fuente-titulos;
            font-weight: 100;
            text-transform: lowercase;
            color: $color-gris-primario
        }
        .navbar-toggler{
            border: none;
        }

        }
        
        text-transform: uppercase ;
        .nav-link{
            text-decoration: underline transparent;
            transition:  text-decoration step-start 2s, opacity var(--animation-link);

            &:hover{
                text-decoration: underline;
                opacity: 1 ;
                
                
                }
            }
        }
}




/*.estiloBody2{
   font-size: $font-size-500 ;

}*/
.boton1{
    width: auto;
    min-height: 48px;
    height: fit-content;
    border-radius: 12px;
    padding: 12px;
    background-color: $color-gris-clarito;
    transition: color 2s;

    a{
        color: $color-gris-primario;
        text-decoration: none;
    }
    &:hover{
        background-color: $color-gris-primario;
        
        outline: solid 2px $color-gris-clarito;
        a{
            color: $color-gris-clarito;
            text-decoration: none;
        }
    }
}
.boton2{
    width: auto;
    height: 48px;
    border-radius: 12px;
    padding: 12px;
    background-color: transparent;
    transition: color ease-in 2s;
    color: $color-gris-clarito;
    a{
        color: $color-gris-clarito;
        text-decoration: none;
        
    }
    &:hover{
        background-color: $color-gris-primario;
        outline: solid 2px $color-gris-clarito;
        a{
            color: $color-gris-clarito;
            text-decoration: none;
        }
    }
}
.boton3{
    width: auto;
    height: 48px;
    border-radius: 12px;
    padding: 12px;
    background-color: $color-gris-primario;
    transition: outline 2s ease, background-color 0,1s ease;
    color: $color-gris-clarito;

    a{
        color: $color-gris-clarito;
        text-decoration: none;
        outline:solid 2px transparent;
        
        
    }
    &:hover{
        background-color: transparent;
        outline: solid 2px $color-gris-primario;
        color: $color-gris-primario;
        a{
            color: $color-gris-primario;
            text-decoration: none;
            
        }
    }
}
footer{
    background-color: $color-gris-primario;
    color: $color-gris-clarito;
    padding: 4rem 1rem;
    position: relative;

    a{
        color: $color-gris-clarito;
        text-decoration: none;
        transition: color 0.3s;

        &:hover{
            color: $color-gris-secundario;
            }
    }
    .contenedor{
        max-width: 1200px;
        margin: 0 auto;
        gap: 40px;
        .footer-Main{
            display: flex;
            flex-direction: row;
            margin-bottom: 0;
            flex-wrap: wrap;
            row-gap: 40px;
            column-gap: 8px;
            .columns{
                flex-basis: 200px;
                flex-grow: 1;
                text-align:center ;
                padding: 0 16px;
                .columnHeading{
                    margin-bottom: 1rem;
                }
                .links{
                    display: block;
                    width: max-content;
                    padding: 5px 10px;
                    margin: 0 auto;
                }
            }
            
        }
        .footerBottom{
            display: flex;
            margin-top: 40px;
            .copyright{
                margin-right: auto;
            }
            .footerSocial{
                font-size: 20px;
                margin-left: 2rem;
            }
        }
    }
}




/*


.navbar-toggler {
    border: none;
}
.presentacion{
    height: auto;
}
.nosotros{
    height: 80vh;
}
.productos{
    height: auto;
}

.card{
    width: 18rem;
}

.proyectos{
    height: auto;
}

.planes{
    height: auto;
}
.h2{
    text-transform: uppercase;
    font-size: 1rem;
}
.imgProductos{
    height: 20vh;
}
.linkEncubierto{
    text-decoration: none;
    
}

.heroImgProductos{
    height: 40vh;
    
}
.nav-item{
    &hover{
        text-decoration: underline;
    }
}
*/