*{
    
}
.hidden{
    display: none;
}
.hero{
height: 80vh;
}
.navbar-toggler {
    border: none;
}
.icon{
    height: 24px;
    width: 24px;
}
.indicacion{
    height: 30vh;
}
.presentacion{
    height: 60vh;
}
.nosotros{
    height: 80vh;
}
.card{
    width: 18rem;
}
.productos{
    height: 90vh;
}
.proyectos{
    height: auto;
}
.planes{
    height: 90vh;
}

.h2{
    text-transform: uppercase;
    font-size: 1rem;
}



